




{% extends 'plants/layout.html' %}

{% block title %} Добавить в галерею {% endblock %}

{% block content %}



<div class="features">
    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
       {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Загрузить</button>
    </form>


    {% if img_obj %}
      <h3>Фотография загружена: {{img_obj.title}}</h3>
      <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}

{% endblock %}
</div>