body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    color: white;
    height: 100vh;
    border-right: 5px solid #4d4d4d;
}

aside img {
    max-height: 100px;
    max-width: 100px;
    float: left;
}

aside span.logo {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 40px;
}

aside h3 {
    margin-top: 100px;
}

aside ul {
    list-style: none;
}

aside a {
    color: white;
    display: block;
    text-decoration: none;
    margin-top: 25px;
    font-size: 20px;
    position: relative;
    left: -33px;
    transition: transform .15s ease;
}

aside ul li:hover, aside ul a:hover {
    color: red;
    transform: scale(1.03)
}

.icons {
    max-width: 20px;
    max-width: 20px;
    color: white;
}

main .features {
    float: left;
    color: white;
    margin-top: 85px;
    text-align: center;
    width: 75%
}

.features ul {
    list-style: none;
}

.delete {
    margin-bottom: 25px;
    margin-top: 5px
}

.features h1 {
    position: relative;
    left: 16px;
    margin-bottom: 20px;
    font-size: 50px;
}

.features span {
    font-size: 20px;
    font-weight: bold;
}

.features {
    font-size: 18px;
}

.features form {
    max-width: 50%;
    margin: 0 auto;
}

.features h1 {
    margin-bottom: 30px;
}